@model DojoSurveyWithValidation.Models.Survey

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/style.css">
        <title>Results</title>
    </head>
    <body>
        <h1>This is the Results</h1>

        <p>@Model.Name</p>
        <p>@Model.Location</p>
        <p>@Model.Language</p>
        <p>@Model.Comment</p>
    </body>
</html>